<%- include ("partials/header.ejs") %>

<div class = "container about-div">
    <div class = "row">
    <div class = "col-6">
        <img src = "/images/photo-1549916571-9b2c630403dc.jpg" class="about-img">
    </div>
    <div class=" col-6 div-about-text"> 
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptates distinctio ducimus incidunt dignissimos, rerum vero nulla quo corrupti eaque sapiente reiciendis non! Ipsa dolorem nisi distinctio illo aut modi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam perspiciatis repudiandae ipsum quaerat libero dicta at. Eos id sit tempora necessitatibus magnam maiores, et, exercitationem saepe recusandae adipisci omnis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut quas exercitationem dolore blanditiis vitae necessitatibus, omnis consectetur! Enim sint iure inventore dolorem in deleniti dolorum aperiam quaerat vero odio?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora nesciunt alias non nihil mollitia ducimus culpa ut consequuntur eos similique quisquam temporibus, possimus sit labore ad, illo voluptates accusantium quam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, distinctio. Sit tenetur animi voluptatum enim qui eius aut, alias quaerat autem cupiditate labore, excepturi, saepe tempora molestias similique nesciunt numquam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto at alias voluptatem incidunt, quod saepe sapiente soluta, dignissimos provident reiciendis assumenda in reprehenderit repellat deserunt hic vitae veritatis aperiam?
        </p>
    </div>
</div>
</div>

<%- include ("partials/footer.ejs") %>