<% include partials/header %>
<div class = "container adjust-spacing ">
    <h1>Hi I'am Mohamed</h1>
    <h3>CHECK OUT SOME OF MY FEATURED WORK.</h3>
    <hr class="flare">
</div>


<div class="container adjust">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <img class="img-thumbnail" src="
        https://images.pexels.com/photos/2721882/pexels-photo-2721882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR38TYMl2HpCPNXJic0tSYZSkGui12SFYMRhGkOFplvfTtRH5qCGvcs_V58">
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <img  class ="img-thumbnail"   src="https://images.pexels.com/photos/2721743/pexels-photo-2721743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR2LbVrvxJAHnkg3z_XnTaPuLS2TY9hpt76hGjZjIBqBMWSL8oL2yjwFTAU">
    </div>

    <div class="col-12 col-md-auto col-lg-4">
        <img  class ="img-thumbnail"   src="https://images.pexels.com/photos/2721549/pexels-photo-2721549.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR2Qzhq5mtBCsnQCQxSCPRRRD0BR36Kj9zaEV_QeR2MjfabkO9zXPqqLmCg">
    </div>

  </div>

  <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <img  class ="img-thumbnail"   src="https://images.pexels.com/photos/2787097/pexels-photo-2787097.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500&fbclid=IwAR2LXn0iBdue_dTxz1KWy_RPnhvveb_QRv5zsF9kxP7DgbP1kXVQvcWsPlU">
  
    </div>
        <div class="col-12 col-md-6 col-lg-4">
        <img  class ="img-thumbnail"   src="https://i.imgur.com/pj24vIi.jpg">
    </div>
        <div class="col-12 col-md-12 col-lg-4">
        <img  class ="img-thumbnail" src="https://images.pexels.com/photos/2787107/pexels-photo-2787107.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500&fbclid=IwAR2-MUZVctU999dEvmGXYcZeYFckgspS3LOBsHKHjs-Gk4p2QdImdyQ61Mc">
    </div>
  </div>

</div>



<% include partials/footer %>
