<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MR</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>

		<div id="landing-header" class="container">
            <div class="row">
                <div class="col-xs-12 col-md-auto col-md-offset-3 ">
                    <h1>Mohammed Ragab</h1>
                    <h2>YOUTUBER / / Filmmaker</h2> 
                    <p>
                        Photographer &Artdirector. Lover of traveling and good stories.
                        Currently <br>residing in Alexandria,Egypt, Check My Youtube Channel Muhammed Rajaab. 
                    </p>
                    <a href="/home" class="btn btn-lg btn-default">Show More</a>
                </div>
            </div>

		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
	</body>
</html>