<% include partials/header %>

<div class = "container adjust-spacing">
    <h1 >Here Some of my latest Videos on Youtube </h1><br>
    <h1>Subscribe to My Channel  <a href="https://www.youtube.com/channel/UCM5is_lFxHBa1WSjlBSJ4-A" 
    class="btn btn-danger" target="_blank">  Subscribe <i class="fab fa-youtube"></i></a></h1>
    <hr class="flare">
</div>

<section>
<div class="container adjust" >
  <div class="row">
    <div class="col-12 justify-content-center">
        <iframe src="https://www.youtube.com/embed/AOehyoSPCks" class="video-frame"></iframe>
    </div>
    <div class="col-12 justify-content-center">
        <iframe class="video-frame"src="https://www.youtube.com/embed/HoZx4eA6_L0"></iframe>
    </div>

  </div>
  <div class="row">
        <div class="col-12 justify-content-center">
            <iframe class="video-frame"src="https://www.youtube.com/embed/bZ3bGbWwHGA"></iframe>     
        </div>

        <div class="col-12 justify-content-center">
            <iframe class="video-frame"src="https://www.youtube.com/embed/wcKu_o_MT0w"></iframe>
        </div>
  </div>

  <div class="row">
    <div class="col-12 justify-content-center">
        <iframe class="video-frame"src="https://www.youtube.com/embed/S2TwsGAd5dQ"></iframe>
    </div>
    <div class="col-12 justify-content-center">
        <iframe class="video-frame"src="https://www.youtube.com/embed/Q6ZYNRJIiVo"></iframe>
    </div>
  </div>

    <div class="row">
      <div class="col-12 justify-content-center">
        <iframe class="video-frame"src="https://www.youtube.com/embed/q4ycSdXCGxs"></iframe>
    </div>

    <div class="col-12 justify-content-center">
        <iframe class="video-frame"src="https://www.youtube.com/embed/dfeIPmVfsgM"></iframe>
    </div>
  
  </div>
</div>
</section>

<% include partials/footer %>