
.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size : cover;
  background-size: cover;
}
video {
  width: 100%;
  height: auto;
}
.navbar-collapse{
    margin-right:50px;
}
.navbar-light .navbar-nav .nav-link{
  padding-left: 20px;
  padding-right: 20px;
  color:black;
}
.last-work{
  margin-top: 60px;
  padding: 40px 60px;
  text-align: center;
}

.card-img-overlay{
  display: flex;
  justify-content: center;
  align-items: center;  

}
.link-image{
  color: white;
  position: relative;
  z-index: 1;
}
.card-img-overlay:hover{
  position:absolute;
  background-color:#000;
  opacity:0.4;
  border-radius:30px;
}
.link-image:hover{
  opacity: 1; 
  color :white
}


.box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */

}
.box img{
  width:100%;
  vertical-align:top;
}

.box:after, .box:before {
  position:absolute;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.box:after {
  content:'\A';
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
}

.box:hover:after, .box:hover:before {
  opacity:0.5;
}
.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}


.show-category{
  margin-top: 80px ;
  margin-bottom: 80px ;
}

.about-div{
  margin-top: 160px;
  padding:40px ;
}
.about-img{
  border-radius: 50%;
}
.about-text{
  font-size:20px;
}
.div-about-text{
  padding-left: 40px;
  padding-right: 15px;
}

#transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  margin-bottom: -160px;
  z-index: 2;
  height: 160px;
}

.responsive-container {
  position: relative;
  width: 100%;

}

.dummy {
  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-container .centerer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
  max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
  max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}

/* footer */

.img-instgram {
  max-height: 200px;
  width: 100%;
}
.footer-div{
  margin-top: 60px;
}
.footer-info{
  background-color: #363331;
  margin-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  height: 500px;
}

.footer-option{
  margin-top:50px ;
  padding: 40px;
}

.site-footer
{
  background-color:#363331;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}